block stylesheet
  link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js")
  link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css")
  link(rel='stylesheet', type='text/css', href='semantic/dist/semantic.min.css')


block header
  .ui.inverted.segment
      .ui.menu.inverted.pointing
        a.item(href='/') Ana Sayfa
        a.item(href='/iletisim') İletişim
        if(isAdmin)
          .ui.simple.dropdown.item Müşteri Hizmetleri
              i.dropdown.icon
              .menu
                  a.item(href='/musteri/ekle')  Müşteri Ekle
                  //- a.item(href='/musteri/guncelle') Müşteri Bilgileri Güncelle/Sil
                  a.item(href='/musteri/listele')  Müşterileri Listele
          .ui.simple.dropdown.item Oda İşlemleri
              i.dropdown.icon
              .menu
                  a.item(href='/oda/ekle')  Oda Ekle
                  a.item(href='/oda/guncelle') Oda Bilgileri Güncelle/Sil
                  a.item(href='/oda/listele')  Odaları Listele
                  
        if(isAdmin || isUser)
          .ui.simple.dropdown.item Rezervasyon İşlemleri
              i.dropdown.icon
              .menu
                  a.item(href='/oda/ekle')  Rezervasyon Yap
                  a.item(href='/oda/guncelle') Rezervasyon Sil


        .right.menu
            a.item(href='/oturum')
              i.user.icon
            if(isAdmin || isUser)
              a.item(href='/index')
                i.shutdown.icon