extends layout


block content 
    .ui.inverted.segment
        .ui.container.center.aligned
                h1 İletişim Sayfası
                br
                br
                p İletişim Girdileri 
                p Mail: 
                p Telefon no:
                p Adres:
