extends layout
              

block content 
    .ui.inverted.segment
        .ui.container.center.aligned
            if(!isUser)
                h1 Yeni misin
                h2 Haydi Kaydol
                br
                button.ui.inverted.button.green.huge
                    a(href='/kaydol') 
                        i.user.plus.icon 
                br
                br

            if(isUser)
                h1 Kullanıcı
            if(isAdmin)
                h1 Admin 

            
                 
            
