extends layout

block append script

    script(type='text/javascript', src='/bower_components/semantic-ui-calendar/dist/calendar.min.js')
    link(rel='stylesheet', href='/bower_components/semantic-ui-calendar/dist/calendar.min.css')

    script.
        $( function() {
        $( "#example1" ).calendar();
        } );

        $( function() {
        $( "#datepicker" ).datepicker();
        } );



block content 
    .ui.inverted.segment
        .ui.container
            form(method="post")


                #calendar.ui.calendar
                    .ui.input.left.icon
                        i.calendar.icon
                        input(type='text', placeholder='Date/Time')

                    br
                    br
                    br
                    button.ui.inverted.button.green(type='submit')  Yeni Oda Kaydet
                    br
