extends layout
    

block content 
    .ui.inverted.segment
        .ui.container
            .ui.middle.aligned.center.aligned.grid.medium
                .column
                 form(method='post')
                    form.ui.medium.form
                        .ui.stacked.segment.inverted
                            .field
                            .ui.left.icon.input
                                i.user.icon
                                input(type='text', name='username', placeholder='Username')
                            br
                            br
                            .field
                            .ui.left.icon.input
                                i.lock.icon
                                input(type='password', name='pass', placeholder='Password')
                            .ui.message.inverted Şifreniz en az 3 harf ve en az 3 rakam içermelidir. 
                            button.ui.inverted.button.green.big(type='submit') Kaydol


                    .ui.message.inverted
                        | Üye Misin ? 
                        a(href='/oturum') Oturum Aç




