extends layout

block append script

  link(rel='stylesheet', href='//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css')
  link(rel='stylesheet', href='/resources/demos/style.css')
  script(src='https://code.jquery.com/jquery-1.12.4.js')
  script(src='https://code.jquery.com/ui/1.12.1/jquery-ui.js')

  script.
    $( function() {
    $( "#datepicker" ).datepicker();
    } );

    $( function() {
    $( ".ui.normal.dropdown" ).dropdown();
    } );

    $( function() {
    $( "#falan" ).dropdown();
    } );



    $('#filan')
    .dropdown({
        useLabels: false,
        maxSelections: 3
    })
    ;

    

block content 


    .ui.inverted.segment
        .ui.container
            .ui.grid
                .five.wide.column
                    h1 Müşteri işlemleri





                .eleven.wide.column.right.floated 
                    .ui.fluid.action.inverted.transparent.input
                        input(type='text', placeholder='Arama')
                        button.ui.inverted.button.secondary  Search


    .ui.inverted.segment
        .ui.grid

            .six.wide.column.grey 
                .ui.container 
                    br
                    .ui.label.black.big Oda No
                    .ui.compact.menu
                        select.ui.search.selection.dropdown Oda No
                            option(valuse='') Skills
                            option(value='react') React
                            option(value='node') Node
                            option(value='css') 101
                            option(value='css') 102
                            option(value='css') 103
                            option(value='css') 103
                    br
                    br
                    .ui.label.black.big TC Kimlik No : 
                    .ui.label.big 39944023936
                    br
                    br
                    .ui.label.big.black  Ad :
                    .ui.label.big Erdem
                    br
                    br
                    .ui.label.big.black Soyad:
                    .ui.label.big Bektaş
                    br 
                    br 
                    .ui.label.big.black Telefon Numarası : 
                    .ui.label.big 05544386850
                    br 
                    br 
                    .ui.label.big.black Date
                    .ui.compact.menu
                        #standard_calendar.ui.calendar
                        .ui.input.left.icon
                            i.calendar.icon
                            input#datepicker(type='text',placeholder='Date/Time')
                    br 
                    br 
                    .ui.label.big.black Ücret
                    .ui.input
                        input(type='text', placeholder='Ücret', name="ucret")
                br
                br
                .ui.label.big.black Ücret Alındı Mı
                .ui.label.big
                    .ui.fitted.checkbox
                        input(type='checkbox', checked='false', name="odemeAlindiMi", value=false)
                        label 
                br
                br

                .ui.label.big
                    .grouped.fields
                        label Ödeme Alındı mı ?
                        .field
                            .ui.radio.checkbox
                                input(type='radio', name='frequency', checked='checked')
                                label Alındı
                        .field
                            .ui.radio.checkbox
                                input(type='radio', name='frequency')
                                label Alınmadı
                br
                br
                br
                

                button.ui.inverted.button.black  Odadan Çıkış Ver
                button.ui.inverted.button.black Yeni Kayıt Al
                button.ui.inverted.button.black  Güncelle
                br
                br
                
                    


            .ten.wide.column.right.floated.grey 
                .ui.container

                    p Nostrud mollit cupidatat in eu nisi exercitation.
                    p Nostrud mollit cupidatat in eu nisi exercitation.
                    p Nostrud mollit cupidatat in eu nisi exercitation.
                    p Nostrud mollit cupidatat in eu nisi exercitation.
                    p Nostrud mollit cupidatat in eu nisi exercitation.
                    p Nostrud mollit cupidatat in eu nisi exercitation.
                    p Nostrud mollit cupidatat in eu nisi exercitation.
                    p Nostrud mollit cupidatat in eu nisi exercitation.
                    p Nostrud mollit cupidatat in eu nisi exercitation.
                    p Nostrud mollit cupidatat in eu nisi exercitation.




