extends layout
    

block content 
    .ui.inverted.segment
        .ui.container
            .ui.grid
                .five.wide.column
                    h1 Müşteri işlemleri
                .eleven.wide.column.right.floated 
                    .ui.fluid.action.inverted.transparent.input
                        input(type='text', placeholder='Arama')
                        button.ui.inverted.button.secondary  Search

    .ui.inverted.segment
        .ui.grid

            .wide.column.floated.grey 
                .ui.container
                    table.ui.inverted.table
                        thead
                            tr
                                th Oda No
                                th Name
                                th Surname
                                th Tel No
                        tbody
                        if(customer)
                         each val in  customer 
                              tr
                                td #{ val.roomNo }
                                td #{ val.name }
                                td #{ val.surname }
                                td #{ val.telno }
                        tfoot
                            tr
                                th Oda No
                                th Name
                                th Surname
                                th Tel No

                                            