extends layout
    

block content 
    .ui.inverted.segment
        .ui.container
          form(method='post')
            .ui.grid
                .five.wide.column
                    h2 Müşteri Güncelleme
                .eleven.wide.column.right.floated 
                    .ui.fluid.action.inverted.transparent.input.big(type='text', placeholder='39944023936') TC :
                        input(type='text', name="silinecekTc", placeholder=' Silinecek kişinin TC Kimlik Numarasını Giriniz...')
                        button.ui.inverted.button.red(type='submit')  Sil

    .ui.inverted.segment.center.aligned
        .ui.container
         form(method='post')
            .ui.input.fluid.inverted.big.transparent TC :
                input(type='text', placeholder=' Güncellenecek kişinin TC Kimlik Numarasını Giriniz...', name="guncellenecekTc")
            br
            .ui.label.black.big Oda No :
            .ui.compact.menu
                select.ui.dropdown.simple(name='roomNo') Oda No 
                    i.dropdown.icon 
                        if(rooms)
                            each val in rooms
                                option #{ val.no }
            br
            br
            .ui.label.black.big TC Kimlik No : 
            .ui.input
                input(type='text', placeholder='39944023936', name="tcno")
            br
            br
            .ui.label.big.black  Ad :
            .ui.input
                input(type='text', placeholder='Erdem', name="name")
            br
            br
            .ui.label.big.black Soyad:
            .ui.input
                input(type='text', placeholder='Bektaş', name="surname")
            br 
            br 
            .ui.label.big.black Telefon Numarası : 
            .ui.input
                input(type='text', placeholder='05544386850', name="telno")
            br 
            br 
            .ui.label.big.black Kayıt Tarihi :
            .ui.input
                i.calendar.icon.inverted
                input(type='text', placeholder='Gün/Ay/Yıl', name="entryTime")
            .ui.big.header.red Kayıt Tarihi (Gün/Ay/Yıl) şeklinde olmalıdır.
            .ui.label.big.black Çıkış Tarihi :
            .ui.input
                i.calendar.icon.inverted
                input(type='text', placeholder='Gün/Ay/Yıl', name="outTime")
            .ui.big.header.red Çıkış Tarihi (Gün/Ay/Yıl) şeklinde olmalıdır.
            .ui.label.big.black Ücret :
            .ui.input
                input(type='text', placeholder='Ücret', name="payment")
            br
            br
            .ui.label.big.black Ücret Alındı Mı
            .ui.label.big
                .ui.fitted.checkbox
                    input(type='checkbox', checked='false', name="isPaymentReceived", value=false)
                    label 
            br
            br
            .ui.message.green
                p= mesaj


            button.ui.inverted.button.green(type='submit') Bilgileri Güncelle