extends layout
    
block content 
    .ui.inverted.segment
        .ui.container
            .ui.grid
                .five.wide.column
                    h2 Oda Bilgileri Güncelle/Sil
                .eleven.wide.column.right.floated 
                    .ui.fluid.action.inverted.transparent.input.big  
                        input(type='text', placeholder=' Silinecek Odanın Numarasını giriniz...')
                        button.ui.inverted.button.red  Sil

    .ui.inverted.segment.center.aligned
        .ui.container 
            br
            .ui.label.black.big Değiştirilecek Oda No :
            .ui.compact.menu
                select.ui.dropdown.simple Oda No 
                    i.dropdown.icon 
                        if(rooms)
                            each val in  rooms 
                                option(value = val.no ) #{ val.no }
            br
            br
            .ui.label.black.big Oda Yeni No : 
            .ui.input
                input(type='number',min="100", placeholder='109', name="no" )
            br
            br

            .ui.label.black.big Günlük Ücret : 
            .ui.input
                input(type='number',min="1", placeholder='200', name="odaYeniNo" )
            br
            br
            .ui.label.big.black  Odanın Kapasitesi:
            .ui.input
                input(type='number',min="1", placeholder='1', name="guncelle_odaKapasite" )
            br
            br
            button.ui.inverted.button.green  Oda Ücretini Güncelle
            br