extends layout
    


block content 
    .ui.inverted.segment
        .ui.container
            .ui.middle.aligned.center.aligned.grid.medium
                .column
                    form.ui.medium.form(method='post')
                        .ui.stacked.segment.inverted
                            .field
                            .ui.left.icon.input
                                i.user.icon
                                input(type='text', name='username', placeholder='Username')
                            .field
                            .ui.left.icon.input
                                i.lock.icon
                                input(type='password', name='pass', placeholder='Password')
                            br
                            br
                            button.ui.inverted.button.green.big(type='submit') Oturum Aç

                    if(oturumHatasi)
                        .ui.message.inverted.red
                            p= oturumHatasi
                        
                    .ui.message.inverted
                        | Yeni misin ?  
                        a(href='/kaydol') Kaydol
                        br
                        | Şifre Değiştir ? 
                        a(href='/oturum') Şifre Değiştir

